# Line Seprated Input

In [49]:
n = int(input("Enter the number of elements: "))
li = []

for ele in range(n):
    current_element = int(input())
    li.append(current_element)

Enter the number of elements: 5
1
2
3
4
5

In [50]:
li   #Elements in the list are added by using line seprated inputs

[1, 2, 3, 4, 5]

# Space Seprated Input

In [51]:
str = input()

1 2 3 4 5 6

In [52]:
str_split = str.split(" ")

In [53]:
str_split

['1', '2', '3', '4', '5', '6']

In [54]:
li2 = []

In [55]:
for ele in str_split:
    li2.append(int(ele))

In [56]:
li2

[1, 2, 3, 4, 5, 6]

Every Thing in one line - List comprehension

In [60]:
li3 = [int(x) for x in input().split()]     #Taking space seprated input in single line !

4 5 6 7 8 9

In [61]:
li3

[4, 5, 6, 7, 8, 9]